@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/colorbrewer.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("javascripts/d3/d3.v3.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("javascripts/d3/topojson.v1.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.at("javascripts/typeahead.bundle.min.js")" type="text/javascript" charset="utf-8"></script>
        <link href="@routes.Assets.at("javascripts/bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <script src="@routes.Assets.at("javascripts/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <!--<link href="@routes.Assets.at("stylesheets/font-awesome/css/font-awesome.min.css")" rel="stylesheet">-->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <style>
        .provWindow {
            width:  80%;
            visibility: visible;
            top: 15px;
            right: 10%;
        }
        </style>
    </head>
    <body class="container">

        <div class="jumbotron">
            <h1>UW Entity Relation Visualizer</h1>
            <p>
            Select the documents to visualize by search for keywords, topics ("topic:"), or entities ("ent:").
            </p>
            <div class="input-group input-group-lg">
              <input id="queryInput" type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" onclick="search();">Go!</a>
              </span>
            </div><!-- /input-group -->
        </div>

        <!--h2>Example Queries</h2>

        <div class="btn-group-vertical btn-group-lg" role="group" aria-label="..." style="width:100%">
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
          <a href="" class="btn btn-default">Example 1</a>
        </div-->

        <h2>Topic Clusters</h2>

        <div class="btn-group-vertical btn-group-lg" role="group" aria-label="..." style="width:100%">
            <a href="/page?query=topic:title0" class="btn btn-default" style="text-align:left"><b>Topic 0: </b>soldiers, rights, nigerian, military, human, mutiny, death, army, law, child</a>
            <a href="/page?query=topic:title1" class="btn btn-default" style="text-align:left"><b>Topic 1: </b>million, drugs, drug, ndlea, arrests, customs, cocaine, arrested, airport, liberia</a>
            <a href="/page?query=topic:title2" class="btn btn-default" style="text-align:left"><b>Topic 2: </b>force, air, police, jet, safe, military, helicopter, rock, missing, aso</a>
            <a href="/page?query=topic:title3" class="btn btn-default" style="text-align:left"><b>Topic 3: </b>bomb, blast, abuja, kano, attack, explosion, suicide, killed, bombing, dead</a>
            <a href="/page?query=topic:title4" class="btn btn-default" style="text-align:left"><b>Topic 4: </b>haram, boko, jonathan, northern, leaders, insurgency, nigerians, urges, end, stop</a>
            <a href="/page?query=topic:title5" class="btn btn-default" style="text-align:left"><b>Topic 5: </b>nigeria's, security, world, make, challenges, peace, amid, corruption, country, remains</a>
            <a href="/page?query=topic:title6" class="btn btn-default" style="text-align:left"><b>Topic 6: </b>emergency, rule, state, extension, borno, yobe, adamawa, jonathan, senate, north-east</a>
            <a href="/page?query=topic:title7" class="btn btn-default" style="text-align:left"><b>Topic 7: </b>boko, haram, military, insurgency, chief, terrorism, army, security, nigerian, police</a>
            <a href="/page?query=topic:title8" class="btn btn-default" style="text-align:left"><b>Topic 8: </b>kill, gunmen, borno, attack, killed, insurgents, village, yobe, attacks, fresh</a>
            <a href="/page?query=topic:title9" class="btn btn-default" style="text-align:left"><b>Topic 9: </b>day, jonathan, democracy, president, chibok, visit, soyinka, children's, centenary, celebration</a>
            <a href="/page?query=topic:title10" class="btn btn-default" style="text-align:left"><b>Topic 10: </b>military, borno, army, maiduguri, jtf, boko, haram, attack, civilian, terrorists</a>
            <a href="/page?query=topic:title11" class="btn btn-default" style="text-align:left"><b>Topic 11: </b>boko, haram, war, nigeria's, life, islam, jonathan, civil, threat, members</a>
            <a href="/page?query=topic:title12" class="btn btn-default" style="text-align:left"><b>Topic 12: </b>elections, nigerians, jonathan, politicians, peace, polls, muslims, u.s, warns, insecurity</a>
            <a href="/page?query=topic:title13" class="btn btn-default" style="text-align:left"><b>Topic 13: </b>ghana, uganda, good, life, bad, registration, people, rwanda, years, big</a>
            <a href="/page?query=topic:title14" class="btn btn-default" style="text-align:left"><b>Topic 14: </b>jonathan, president, security, chiefs, letter, service, obasanjo, meeting, meets, nigeria's</a>
            <a href="/page?query=topic:title15" class="btn btn-default" style="text-align:left"><b>Topic 15: </b>war, terror, lagos, win, state, battle, alert, u.s, house, namibia</a>
            <a href="/page?query=topic:title16" class="btn btn-default" style="text-align:left"><b>Topic 16: </b>national, conference, confab, delegates, security, assembly, committee, report, derivation, dialogue</a>
            <a href="/page?query=topic:title17" class="btn btn-default" style="text-align:left"><b>Topic 17: </b>north, east, insurgency, insecurity, youths, jonathan, south, youth, warns, igbo</a>
            <a href="/page?query=topic:title18" class="btn btn-default" style="text-align:left"><b>Topic 18: </b>boko, haram, court, suspects, members, police, trial, arrested, arrest, abia</a>
            <a href="/page?query=topic:title19" class="btn btn-default" style="text-align:left"><b>Topic 19: </b>zimbabwe, son, ethiopia, obasanjo's, zambia, book, nation, world, cup, ready</a>
            <a href="/page?query=topic:title20" class="btn btn-default" style="text-align:left"><b>Topic 20: </b>kenya, uganda, president, namibia, angola, community, corruption, launches, calls, lessons</a>
            <a href="/page?query=topic:title21" class="btn btn-default" style="text-align:left"><b>Topic 21: </b>security, yobe, students, schools, police, lagos, killings, protest, killing, govt</a>
            <a href="/page?query=topic:title22" class="btn btn-default" style="text-align:left"><b>Topic 22: </b>africa, south, u.s, million, arms, sudan, deal, black, seized, ethiopia</a>
            <a href="/page?query=topic:title23" class="btn btn-default" style="text-align:left"><b>Topic 23: </b>chibok, girls, jonathan, schoolgirls, back, abducted, parents, abduction, bringbackourgirls, bring</a>
            <a href="/page?query=topic:title24" class="btn btn-default" style="text-align:left"><b>Topic 24: </b>boko, haram, victims, borno, million, displaced, support, insurgency, relief, terror</a>
            <a href="/page?query=topic:title25" class="btn btn-default" style="text-align:left"><b>Topic 25: </b>girls, chibok, abducted, schoolgirls, nigerian, u.s, release, women, kidnapped, school</a>
            <a href="/page?query=topic:title26" class="btn btn-default" style="text-align:left"><b>Topic 26: </b>apc, jonathan, pdp, war, stop, politics, tells, terror, accuses, buhari</a>
            <a href="/page?query=topic:title27" class="btn btn-default" style="text-align:left"><b>Topic 27: </b>nyako, central, questions, genocide, impeachment, people, african, republic, nasarawa, nyako's</a>
            <a href="/page?query=topic:title28" class="btn btn-default" style="text-align:left"><b>Topic 28: </b>jonathan's, apc, northern, jonathan, elders, group, terrorism, presidency, ihejirika, chibok</a>
            <a href="/page?query=topic:title29" class="btn btn-default" style="text-align:left"><b>Topic 29: </b>emir, borno, sanusi, gwoza, kano, schools, tears, fear, public, lamido</a>
            <a href="/page?query=topic:title30" class="btn btn-default" style="text-align:left"><b>Topic 30: </b>apc, jonathan, pdp, jonathan's, presidential, presidency, election, president, campaign, ekiti</a>
            <a href="/page?query=topic:title31" class="btn btn-default" style="text-align:left"><b>Topic 31: </b>ebola, security, forest, strike, sambisa, expert, asuu, ethiopia, sanctions, case</a>
            <a href="/page?query=topic:title32" class="btn btn-default" style="text-align:left"><b>Topic 32: </b>somalia, force, naval, somali, commander, conference, warship, seychelles, sea, operation</a>
            <a href="/page?query=topic:title33" class="btn btn-default" style="text-align:left"><b>Topic 33: </b>zimbabwe, kenya, market, tanzania, africa, face, zim, microsoft, price, brand</a>
            <a href="/page?query=topic:title34" class="btn btn-default" style="text-align:left"><b>Topic 34: </b>u.s, billion, loan, jonathan's, million, request, jonathan, senate, budget, oil</a>
            <a href="/page?query=topic:title35" class="btn btn-default" style="text-align:left"><b>Topic 35: </b>boko, haram, ceasefire, shekau, sheriff, deal, leader, apc, video, claims</a>
            <a href="/page?query=topic:title36" class="btn btn-default" style="text-align:left"><b>Topic 36: </b>boko, haram, u.s, terrorist, nigerian, fight, arms, million, foreign, ansaru</a>
            <a href="/page?query=topic:title37" class="btn btn-default" style="text-align:left"><b>Topic 37: </b>naira, market, black, zimbabwe, sudan, tobacco, control, foreign, dollar, percent</a>
            <a href="/page?query=topic:title38" class="btn btn-default" style="text-align:left"><b>Topic 38: </b>nigeria's, economy, development, leadership, sector, education, challenge, future, nigerian, economic</a>
            <a href="/page?query=topic:title39" class="btn btn-default" style="text-align:left"><b>Topic 39: </b>africa, african, press, review, leaders, summit, south, statement, june, november</a>
            <a href="/page?query=topic:title40" class="btn btn-default" style="text-align:left"><b>Topic 40: </b>haram, boko, apc, probe, pdp, jonathan, demands, group, buhari, international</a>
            <a href="/page?query=topic:title41" class="btn btn-default" style="text-align:left"><b>Topic 41: </b>jonathan, insurgency, end, shettima, terrorism, governor, state, support, borno, islamic</a>
            <a href="/page?query=topic:title42" class="btn btn-default" style="text-align:left"><b>Topic 42: </b>zimbabwe, industry, music, namibia, piracy, big, film, nollywood, farmers, kenya</a>
            <a href="/page?query=topic:title43" class="btn btn-default" style="text-align:left"><b>Topic 43: </b>africa, west, security, terrorism, support, african, ecowas, council, fight, summit</a>
            <a href="/page?query=topic:title44" class="btn btn-default" style="text-align:left"><b>Topic 44: </b>apo, killings, fuel, scarcity, report, petrol, killing, sss, cameroon, senate</a>
            <a href="/page?query=topic:title45" class="btn btn-default" style="text-align:left"><b>Topic 45: </b>death, toll, shekau's, rises, pastor, wives, soldiers, father, invasion, convoy</a>
            <a href="/page?query=topic:title46" class="btn btn-default" style="text-align:left"><b>Topic 46: </b>boko, haram, borno, attacks, kills, attack, killed, adamawa, fresh, village</a>
            <a href="/page?query=topic:title47" class="btn btn-default" style="text-align:left"><b>Topic 47: </b>boko, haram, cameroon, flee, displaced, adamawa, residents, attacks, refugees, nigerians</a>
            <a href="/page?query=topic:title48" class="btn btn-default" style="text-align:left"><b>Topic 48: </b>boko, haram, borno, killed, military, soldiers, army, insurgents, nigerian, attack</a>
            <a href="/page?query=topic:title49" class="btn btn-default" style="text-align:left"><b>Topic 49: </b>oil, piracy, theft, navy, delta, alarm, raises, crude, guinea, niger</a>
        </div>

        <script>

        function search() {
            location.href='/page?query=' + encodeURI(document.getElementById('queryInput').value);
        }

        </script>
    </body>
</html>
